In [1]:
from posteriordb import PosteriorDatabase
import os
import pandas as pd
import numpy as np

In [2]:
# Load DataBase Locally
pdb_path = os.path.join("../posteriordb/posterior_database")
my_pdb = PosteriorDatabase(pdb_path)

In [3]:
# Extract the Names of All Models
pos = my_pdb.posterior_names()

In [4]:
# Expand Nested List
def flat(nums):
    res = []
    for i in nums:
        if isinstance(i, list):
            res.extend(flat(i))
        else:
            res.append(i)
    return res

In [5]:
# Reordering Models in Ascending Dimensional Order
d = {}
n = 0
for i in pos:
    try:
        d[i] = sum(my_pdb.posterior(i).information['dimensions'].values())
    except TypeError:
        d[i] = sum(flat(my_pdb.posterior(i).information['dimensions'].values()))
df = pd.DataFrame.from_dict(d, orient='index', columns=['dimensions'])
df.sort_values(by=['dimensions'], ascending=True, inplace=True)

In [6]:
df.head(10)

                                dimensions
Rate_3_data-Rate_3_model                 1
Rate_1_data-Rate_1_model                 1
toy_standard_normal                      1
dogs-dogs_log                            2
wells_data-wells_dist100_model           2
nes_logit_data-nes_logit_model           2
dogs-dogs_hierarchical                   2
wells_data-wells_dist                    2
toy_mvsn_2d                              2
earnings-earn_height                     3

In [7]:
df.tail(10)

                                       dimensions
Mtbh_data-Mtbh_model                         1912
GLMM_data-GLMM1_model                        2395
ovarian-logistic_regression_rhs              3075
traffic_accident_nyc-bym2_offset_only        3845
Mth_data-Mth_model                           5044
prideprejudice_chapter-ldaK5                 7714
mnist_100-nn_rbm1bJ10                        7949
prostate-logistic_regression_rhs            11935
prideprejudice_paragraph-ldaK5              15570
mnist-nn_rbm1bJ100                          79409

In [8]:
# Determining Whether the Model has a Gold Standard
no_gs = []
for i in pos:
    posterior = my_pdb.posterior(i)
    try:
        gs = posterior.reference_draws()
    except AssertionError:
        no_gs.append(i)

In [9]:
# Number of Models without a Gold Standard
len(no_gs)

100

In [10]:
# Number of Models
len(pos)

149

In [11]:
# Models with a Gold Standard
gs_models = set(pos).difference(set(no_gs))
len(gs_models)

49

In [12]:
df_gs = df.loc[gs_models].reset_index(inplace=False)
df_gs.sort_values(by=['dimensions', 'index'], ascending=True, inplace=True)
df_gs

/tmp/ipykernel_474/1111489029.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_gs = df.loc[gs_models].reset_index(inplace=False)

                                          index  dimensions
48                          toy_standard_normal           1
30                                  toy_mvsn_2d           2
14                         earnings-earn_height           3
36                    earnings-log10earn_height           3
22                      earnings-logearn_height           3
0                          gp_pois_regr-gp_regr           3
29                         kidiq-kidscore_momhs           3
34                         kidiq-kidscore_momiq           3
32                  kilpisjarvi_mod-kilpisjarvi           3
13               mesquite-logmesquite_logvolume           3
7                                   arma-arma11           4
43                 earnings-logearn_height_male           4
15              earnings-logearn_logheight_male           4
45                                garch-garch11           4
38                       kidiq-kidscore_momhsiq           4
47    one_comp_mm_elim_abs-one_comp_mm_elim_abs           4
39                 earnings-logearn_interaction           5
25               earnings-logearn_interaction_z           5
46                   kidiq-kidscore_interaction           5
20   kidiq_with_mom_work-kidscore_interaction_c           5
2   kidiq_with_mom_work-kidscore_interaction_c2           5
33   kidiq_with_mom_work-kidscore_interaction_z           5
21        kidiq_with_mom_work-kidscore_mom_work           5
42          low_dim_gauss_mix-low_dim_gauss_mix           5
5                    mesquite-logmesquite_logva           5
27                      hmm_example-hmm_example           6
24                                    sblrc-blr           6
41                                    sblri-blr           6
12                                      arK-arK           7
4                  mesquite-logmesquite_logvash           7
40              bball_drive_event_0-hmm_drive_0           8
1               bball_drive_event_1-hmm_drive_1           8
8               hudson_lynx_hare-lotka_volterra           8
19                         mesquite-logmesquite           8
31                  mesquite-logmesquite_logvas           8
3                             mesquite-mesquite           8
10         eight_schools-eight_schools_centered          10
6       eight_schools-eight_schools_noncentered          10
23                                  nes1972-nes          10
26                                  nes1976-nes          10
17                                  nes1980-nes          10
37                                  nes1984-nes          10
11                                  nes1988-nes          10
9                                   nes1992-nes          10
18                                  nes1996-nes          10
16                                  nes2000-nes          10
28                    gp_pois_regr-gp_pois_regr          13
44                            diamonds-diamonds          26
35                           mcycle_gp-accel_gp          66